* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	justify-content: center;
	background-color: #242424;
	color: gainsboro;
	text-align: center;
	padding: 0px 10px 10px 10px;
}

.title {
	margin: 20px;
}

.grid-container {
	display: flex;
	justify-content: center;
}

#dataTest {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 10px;
	transition: 1s;
}

.team-card {
	max-width: 500px;
	height: 335px;
	background-color: #0A0A0A;
	color: gray;
	border-radius: 5px;	
	transition: 0.2s;
}

.team-card__top {
	height: 120px;
	display: flex;
	padding: 10px;
}

.team-card__bottom__row {
	display: flex;
	height: 35px;
	align-items: center;
	margin-left: 10px;
}

.team-logo {
	width: 100px;	
	height: 100px;
	border-radius: 5px;
	padding: 5px;
	background-color: gray;
	object-fit: contain;
}

.team-card__top__left {

}

.team-card__top__right {
	margin-left: 10px;
}

.team-card__bottom {

}

.team-card__bottom__row__left {
	/*	background-color: aquamarine;*/
	min-width: 100px;
}

.year {
	margin-right: 10px;
	border: 1px solid grey;
	padding: 3px 10px;
	border-radius: 50px;
}

.team-card__bottom__row__right {
	display: flex;
	overflow: scroll;
	margin-left: 10px;	
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.team-card__bottom__row__right::-webkit-scrollbar {
	display: none;
}

/*https://coolors.co/gradient-palette/f92323-65ff18?number=15*/
.color05 {
	color: #F92323;
	border-color: #F92323;
}

.color06 {
	color: #EE3322;
	border-color: #EE3322;
}

.color07 {
	color: #E44221;
	border-color: #E44221;
}

.color08 {
	color: #D95221;
	border-color: #D95221;
}

.color09 {
	color: #CF6220;
	border-color: #CF6220;
}

.color10 {
	color: #C4721F;
	border-color: #C4721F;
}

.color11 {
	color: #BA811E;
	border-color: #BA811E;
}

.color12 {
	color: #AF911E;
	border-color: #AF911E;
}

.color13 {
	color: #A4A11D;
	border-color: #A4A11D;
}

.color14 {
	color: #9AB01C;
	border-color: #9AB01C;
}

.color15 {
	color: #8FC01B;
	border-color: #8FC01B;
}

.color16 {
	color: #85D01A;
	border-color: #85D01A;
}

.color17 {
	color: #7AE01A;
	border-color: #7AE01A;
}

.color18 {
	color: #70EF19;
	border-color: #70EF19;
}

.color19 {
	color: #70EF19;
	border-color: #70EF19;
}

.color20 {
	color: #65FF18;
	border-color: #65FF18;
}

@media screen and (max-width: 1500px) {
	#dataTest {
		display: grid;
		grid-template-columns: auto auto;
		grid-gap: 10px;
	}

	@media screen and (max-width: 1000px) {
		#dataTest {
			display: grid;
			grid-template-columns: auto;
			grid-gap: 10px;
		}

	}

	@media screen and (max-width: 515px) {
		#dataTest {
			display: grid;
			grid-template-columns: auto;
			grid-gap: 10px;
		}

		.team-card {
			max-width: 400px;
			height: 335px;
			background-color: #0A0A0A;
			color: gray;
			border-radius: 5px;				
		}
	}
	
		@media screen and (max-width: 380px) {
		#dataTest {
			display: grid;
			grid-template-columns: auto;
			grid-gap: 10px;
		}

		.team-card {
			max-width: 330px;
			height: 335px;
			background-color: #0A0A0A;
			color: gray;
			border-radius: 5px;				
		}
	}
